Package: db-audio-pi
Version: 1.0-1
Section: base
Priority: optional
Architecture: armhf
Depends: python3 (>= 3.7.3)
Maintainer: Dominic Bird <dominic@dominicbird.com>
Description: DB Audio Pi
 Python project to control a TEAC tuner
